@model SchoolManagementSystem.Models.Faculty
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FacultyAddedSuccessfully</title>
</head>
<body>
    <hr />
    <div align="center">
        <h2><p>Faculty Added Successfully!!</p></h2>
        <h5><a href="/Admin/ManageFaculty">Home</a></h5>
    </div>
    <div>
        <table class="table">
           <tr>
               <th>Type</th>
               <th>Details</th>
           </tr>
            <tr>
                <td>Id  </td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Name </td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Dob</td>
                <td>@Model.Dob</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Designation </td>
                <td>@Model.Designation</td>
            </tr>
            <tr>
                <td>Address </td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Contact </td>
                <td>@Model.Contact</td>
            </tr>
            <tr>
                <td>Mail </td>
                <td>@Model.MailId</td>
            </tr>
            <tr>
                <td>Username </td>
                <td>@Model.Username</td>
            </tr>
            <tr>
                <td>Password </td>
                <td>@Model.Password</td>
            </tr>
        </table>
    </div>
    <br />
    <p style="color:blue">
        <a href="/Admin/ManageFaculty">Back</a>
    </p>
</body>
</html>
