@model SchoolManagementSystem.Models.Principal

<!DOCTYPE html>
<html>
<head>
    <title>ViewPrincipalDetails</title>
</head>
<body>
    <h3>
        <p style="text-align:left; color:blue">
            <span style="float:right; color:blue">
                <a href="/Home/Index">Sign out</a>
            </span>
        </p>
    </h3>
    <h2>Personal Information of Principal</h2>
    <br />
    <table class="table">
        <tr>
            <td>Id  </td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Name </td>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <td>Dob </td>
            <td>@Model.Dob</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <td>Designation </td>
            <td>@Model.Designation</td>
        </tr>
        <tr>
            <td>Address </td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Contact </td>
            <td>@Model.Contact</td>
        </tr>
        <tr>
            <td>Mail </td>
            <td>@Model.MailId</td>
        </tr>
        <tr>
            <td>Username </td>
            <td>@Model.Username</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Model.Password</td>
        </tr>

    </table>
    <br /><br />
    <p style="color:blue">
        <a href="/Admin/ManagePrincipal">Back</a>
    </p>
</body>
</html>

